<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form (submit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            ngModel
            #myFirstName="ngModel"
            name="firstName"
            class="form-control form-control-sm"
            id="firstName"
            required
          />
          <span
            class="text text-danger"
            *ngIf="
              (!myFirstName.valid && myFirstName.touched) ||
              (myForm.submitted && myForm.touched && !myForm.valid && !myFirstName.valid)
            "
            >firstname is required</span
          >
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            ngModel
            name="lastName"
            class="form-control form-control-sm"
            id="lastName"
          />
        </div>
        <div
          ngModelGroup="userContactDetails"
        >
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input
              type="text"
              ngModel
              name="userEmail"
              class="form-control form-control-sm"
              id="userEmail"
              #myEmailControl="ngModel"
              required
              email
            />
             <span
              class="text text-danger"
              *ngIf="
                (!myEmailControl.valid &&
                  myEmailControl.touched) ||
                (myForm.submitted &&
                  !myForm.valid &&
                  !myEmailControl.valid)
              "
            > 
              <ng-container
                *ngIf="myEmailControl.errors?.['required']"
                >Email is required</ng-container
              >
              <ng-container
                *ngIf="myEmailControl.errors?.['email']"
                >Email is not valid</ng-container
              ></span
            > 
          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input
              type="text"
              name="contact"
              class="form-control form-control-sm"
              id="contact"
              #contactDetail="ngModel"
              required
              minlength="10"
              maxlength="10"
              [(ngModel)]="dynamicNumberDiff"
            />
            <span
              class="text text-danger"
              *ngIf="
                (!contactDetail.valid &&
                  contactDetail.touched) ||
                (myForm.submitted &&
                  !myForm.valid && myForm.touched &&
                  !contactDetail.valid)
              "
            >
              <ng-container
                *ngIf="contactDetail.errors?.['required']"
                >contact number is required</ng-container
              >
              <ng-container
                *ngIf="contactDetail.errors?.['minlength']"
                >contact number should be {{ minlength }} digits and insert <
                {{ minlength - contactDetail.errors?.['minlength'].actualLength }}
                > more numbers</ng-container
              >
            </span>
          </div>
          <!-- <div class="text-danger" *ngIf="!userContactDetails.valid && myForm.submitted">
            some of the field does not have valid value
          </div> -->
        </div>
        <div ngModelGroup="userBankDetails" #userBankDetails="ngModelGroup">
          <div class="form-group">
            <label for="bankName">Bank name</label>
            <input
              type="text"
              ngModel
              name="bankName"
              class="form-control form-control-sm"
              id="bankName" required=""
            />
            <!-- <span
              class="text text-danger"
              *ngIf="
                (!myForm.controls['bankName']?.valid &&
                  myForm.controls['bankName']?.touched) ||
                (myForm.submitted &&
                  !myForm.valid && !myForm.controls['bankName']?.valid
                  )
              "
            >
              Bank name is required
            </span> -->
          </div>
          <div class="form-group">
            <label for="bankCo">Bank IFSC code</label>
            <input
              type="text"
              ngModel
              name="bankCo"
              class="form-control form-control-sm"
              id="bankCo" required=""
            />
            <!-- <span
              class="text text-danger"
              *ngIf="
                (!myForm.controls['bankCo']?.valid &&
                  myForm.controls['bankCo']?.touched) ||
                (myForm.submitted &&
                  !myForm.valid &&
                  !myForm.controls['bankCo']?.valid)
              "
            >
              Bank IfSc is required
            </span> -->
          </div>
          <div class="form-group">
            <label for="bankAc">Bank account no</label>
            <input
              type="text"
              ngModel
              name="bankAc"
              class="form-control form-control-sm"
              id="bankAc" required=""
            />
            <!-- <span
              class="text text-danger"
              *ngIf="
                (!myForm.controls['bankAc']?.valid &&
                  myForm.controls['bankAc']?.touched) ||
                (myForm.submitted &&
                  !myForm.valid &&
                  !myForm.controls['bankAc']?.valid)
              "
            >
              Bank account no is required
            </span> -->
          </div>
          <div class="text-danger" *ngIf="!userBankDetails.valid && myForm.submitted && myForm.touched ">
            some of the account field does not have valid value
          </div>
        </div>
        <button type="button" class="btn btn-info" (click)="setDefaultValue()">SetDefault value</button>
        <button type="button" class="btn btn-info" (click)="setDefaultPatchValue()">SetDefault Patch value</button>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="form-group">
  <label for="emailId">Email</label>
  <input type="text" class="form-control form-control-sm" id="emailId" ngModel name="userEmail" required email #myEmailControl="ngModel">
  <span class="small text-danger" *ngIf="(!myEmailControl.valid && myEmailControl?.touched) || (myForm.submitted && !myForm.valid && !myEmailControl?.valid)">
    <ng-container *ngIf="myEmailControl?.errors?.['required']">Email is required!</ng-container>
    <ng-container *ngIf="myEmailControl?.errors?.['email']">Please insert a proper email-id!</ng-container>
  </span>
</div> -->