<div class="container formborder mt-5">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <form [formGroup]="form" (submit)="submitForm()">
        <div class="form-row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              formControlName="firstName"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              formControlName="lastName"
            />
          </div>
        </div>
        <h6 class="mt-5">How should we contact you?</h6>
        <select formControlName="contactMethod" class="mb-5">
          <option value="">Select Contact Method</option>
          <option value="phone">Phone</option>
          <option value="email">Email</option>
        </select>
        <div *ngIf="form.get('contactMethod')?.value === 'phone'">
          <input
            type="text"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </div>
        <div *ngIf="form.get('contactMethod')?.value === 'email'">
          <input
            type="email"
            formControlName="emailAddress"
            placeholder="Email Address"
          />
        </div>
        <button type="submit" class="mx-3 mt-3 btn-success">submit</button>
      </form>
    </div>
  </div>
</div>